html {
    height: 100%;
    width: 100%;
  }
 /* El color de fondo será gris */
body {
  background-color: grey;
}

/* Estilo para todos los h3 */
h3 {
  color: green; /* Hace que el color de todos los h3 sea verde */
}

/* Definir una clase azul para tres h3 */
.azul {
  color: blue;
}